.container {
  width: 100%;
  padding-left: 0px;
  padding-right: 0px;
}

#top{
    display: inline-block;
    width: 100%;
    padding:30px 13px;
    border: 1px solid rgba(0,0,0,.125);
    background-color: #fff;;
    box-shadow: 0 1px 1px 1px hsla(0,0%,66%,.67);
}


#featured{
    display:inline-block;
    float: left;
    width: 63%;
}

#featured img{
    width: 100%;
    height: 400px;
    overflow:hidden;
}

#featured_complete{
    padding-left: 20px;
}

#featured_des{
    display:inline-block;
    float: right;
    width: 35%;
    height: 400px;
}

#featured_des .card{
    height: 100%;
    box-shadow: 0 1px 2px -1px #666;
}


#featured_money{
    padding:10px 20px 5px 15px;
    
}

#featured_des .progress{
    margin: 0 10px;
}

#top_three{
    display:inline-block;
    padding:20px 0;
    width: 100%;
}

.feature_img{
    width: 100%;
    height: 200px;
    overflow: hidden;
}

#top_three .bottomleft{
    color:white;
    font-size: 26px;
    position: absolute;
    padding: 5px 10px;
    top: 150px;
    left: 12px;
    background:rgba(3,3,3,0.3);
}

#top h1{
    font-size:60px;
    font-family: Teko, Verdana, sans-serif;
    font-weight: bold;
    margin-top: 0;
    margin-left: 10px;
}

/*special bootstrap.min.css feature not included on this one */
.card{
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    position: relative;
    box-shadow: 0 1px 1px 1px hsla(0,0%,66%,.67);
}

.card-block{
    padding: 1.25rem;
}

.bg-success {
    background-color: #5cb85c!important;
}

.progress{
    border-radius:0px;
}

.btn{
    margin: 10px 0;
    font-size: 20px;
}

#see_more{
    margin: 10px 0;
    font-size: 20px;
}

#why_us{
    display:inline-block;
    height: auto;
    width: 100%;
}
.data{
  /*background-image: url("data.png");*/
  height: 400px;
  color: #fff;

  padding: 30px 150px 0px 150px;
}
.background-img{
  height: 100%;
  width: 100%;
}



.why{
    height: 400px;
    width: 100%;
    box-shadow: 1px 1px 1px 1px hsla(0,0%,66%,.67);

}

.land-pic{
  height: 400px;
  width:50%
}
.no-margin{
  margin: 0px;
}
.right-pic{
  float: left;
  position: absolute;
  right:0px;
  width: 50%;
}
.left-pic{
  float: right;
  position: absolute;
  left: 0px;
  width: 50%;
}
.text-area{
  color: #4a4a4a;
  padding: 20px;
}
.text-area h1{
  font-size: 50px;
  font-weight: 600px;
}
.title{
  color: #417505;
}
